/* Variables */
:root {
  /* Colors */
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  /* Font */
  --font-base: "Barlow Semi Condensed", sans-serif;
  --font-base-size: 13px;
}
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
html {
  font-size: var(--font-base-size);
}
body {
  background-color: var(--grey-100);
  font-family: var(--font-base);
  font-weight: 500;
  line-height: 1.5;
  min-height: 100vh;
}
img {
  display: block;
}
/* Attribution */
.attribution {
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Backgrounds and text colors */
.bg-purple {
  background-color: var(--purple-500);
  color: var(--white);
}
.bg-grey {
  background-color: var(--grey-500);
  color: var(--white);
}
.bg-white {
  background-color: var(--white);
  color: var(--grey-500);
}
.bg-blue {
  background-color: var(--dark-blue);
  color: var(--white);
}
.bg-purple p, .bg-grey p, .bg-blue p {
  color: var(--grey-100);
}
.bg-white p {
  color: var(--grey-400);
}
/* Avatar images */
.avatar-size {
  width: 36px;
  height: auto;
}
.avatar-border {
  border: 2px solid;
}
.border-purple-300 {
  border-color: var(--purple-300);
}
.border-purple-500 {
  border-color: var(--purple-500);
}
.border-grey-400 {
  border-color: var(--grey-400);
}
.border-grey-200 {
  border-color: var(--grey-200);
}
/* Reviewer info */
.reviewer {
  display: block;
}
.reviewer h3 {
  font-size: 1rem;
}
.reviewer h4 {
  font-size: 0.85rem;
}
.testimonial-heading {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (max-width: 991px) {
  #main {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
@media (min-width: 992px) {
  /* Add quote bg pattern to first box on larger screens */
  #quote {
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 20px right 50px;
  }
  .testimonial-heading {
    font-size: 1.75rem;
  }
}
@media (min-width: 1400px) {
  .reviewer h3 {
    font-size: 1.05rem;
  }
  .reviewer h4 {
    font-size: 0.9rem;
  }
  .testimonial-heading {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.125rem;
  }
}
